version: "3.9"

services:
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Shub@2004
      MYSQL_DATABASE: AICareer
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - spring-network

  springrest:
    build: .
    container_name: springrest
    restart: always
    depends_on:
      - mysql-db
    ports:
      - "8080:8080"
    networks:
      - spring-network

volumes:
  mysql_data:

networks:
  spring-network:
